
<h1 align="center">Welcome <%= @user.username %></h1>

<div class="w3-container w3-padding-32 w3-theme-l5 w3-center" id="contact">
    <div class="w3-row">
      <h3 align="center"><span class="w3-xlarge w3-border-teal w3-bottombar">User: <%= @user.username %></span></h3>
      <p><i class="fa fa-stop-circle-o w3-text-teal w3-xlarge"></i> Email-id: <%= @user.email %></p>
     </div> 
  </div>

  
